@import "tailwindcss";


@theme {
  /* Financial Green Theme Colors */
    --font-display: "Inter", sans-serif;

  --color-primary: #059669;
  --color-primary-dark: #047857;
  --color-primary-light: #10b981;
  
  --color-background: #f0fdf4;
  --color-surface: #ffffff;
  --color-border: #d1fae5;
  
  --color-text-primary: #064e3b;
  --color-text-secondary: #6b7280;
  
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}

@layer utilities {
  .button-primary {
    @apply bg-primary-dark cursor-pointer text-white px-4 py-2 rounded-lg hover:bg-primary-light transition-all duration-300 ease-in-out;
  }
  .link-primary{
    @apply text-primary hover:text-primary-dark  transition-all duration-300 ease-in-out text-xl ;
  }
  .button-bar-side {
    @apply bg-gray-100 cursor-pointer text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-300 hover:text-gray-800 border border-gray-300 hover:border-gray-600 transition-all duration-300 ease-in-out ;
  }
  .button-blue {
    @apply bg-blue-500 cursor-pointer text-white px-4 py-2 rounded-lg hover:bg-blue-800 transition-all duration-300 ease-in-out;
  }
  .button-danger {
    @apply bg-red-400 cursor-pointer text-white px-4 py-2 rounded-lg hover:bg-red-500 transition-all duration-300 ease-in-out;
  }
  .button-secondary {
    @apply  bg-surface cursor-pointer text-primary-dark px-4 py-2 rounded-lg hover:bg-border transition-all duration-300 ease-in-out hover:ring hover:ring-primary/40;
  }
  .button-secondary-reverse {
    @apply   cursor-pointer  px-4 py-2   transition-all duration-300 ease-in-out ;
  }
  .button-plain {
    @apply inline-flex items-center cursor-pointer bg-gray-200 text-gray-900 px-6 py-3 rounded-lg text-lg hover:bg-gray-800 hover:text-white transition-all duration-500 ease-in-out;
  }
  .input-primary {
    @apply w-full px-4 py-3 border border-border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary
;
  }
  .label-primary{
    @apply block text-sm font-medium text-text-primary mb-2;
  }
  .button-route {
    @apply px-2 py-1 rounded-lg cursor-pointer text-lg;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}